
/*** Cabecera ***/

body{
    background: linear-gradient(0.25turn, #8697e7, #383c63);
}

h1{
    text-align: center;
}


/*** Barra de Navegación ***/

#nav{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}



a{
    text-decoration: none;
    color: white;
    width: 200px;
    height: 30px;
    background-color: darkslateblue;
    text-align: center;
    border-radius: 10px;
}

/*** Formulario ***/
fieldset{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#a8e786, #6d9855);
    width: 95%;
}

fieldset h3{
    color: #383c63;
}

fieldset button{
    margin-top: 20px;
    background-color: #8697e7;
    border-radius: 10px;
    width: 20%;
}

legend{
    color:darkgreen;
    font-weight: bold;
    font-size: 20px;
}

input{
    background-color: #8697e7;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 20px;
}

select{
    margin-bottom: 20px;
    background-color: #8697e7;
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
}

#eliminar{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crearUsuario{
    width: 100%;

}