<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        fieldset{
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <form action="">
        <fieldset>
            <legend>Nueva Empresa</legend>
            
        </fieldset>
    </form>
</body>
</html>